@import "gritter";
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.index-icons {
  font-size: 1.5em;
  color: #6C809A;
}

.index-icons:hover {
  text-decoration: none;
  color: black;
}